<!DOCTYPE html>
<html>

   <head>
      <title>Image Search Abstraction Layer | Free Code Camp</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Image Search Abstraction Layer</h1>
         <h3>for image search https://whispering-harbor-93092.herokuapp.com/api/imagesearch/"Search Term"?offset="Number of Results"</h3>
         <h3>for search history https://whispering-harbor-93092.herokuapp.com/api/latest/imagesearch</h3>

      </div>
   </body>

</html>
